<body id="form-body">
    <div class="container" id="imagepost">
        <header>
            <h1>Post Title</h1>
            <h2>Post Author</h2>
            <h3>Post created at 00:00</h3>
        </header>
        <img src="https://fakeimg.pl/300/" alt="Post's image" class="imgpost">
    </div>
</body>