<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">
    <title>Home</title>
    <script defer src="/public/js/home.js"></script>
</head>
<body>
    <nav>
        <a href="/login">Login</a> | 
        <a href="/registration">Registration</a> | 
        <a href="/postimage">Post an Image</a> | 
        <a href="/imagepost">Image Post</a>
    </nav>
    <h1 id="items-count">

    </h1>
    <div id="container">

    </div>
</body>
</html>