<body id="form-body">
    <div class="container">
        <header>
            <h1>Log In</h1>
        </header>
        <form id="login-form" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <label for="username" class="form-label">Username:</label>
            <input id="username" name="username" type="text" placeholder="Enter your username" required>
            <br /><br />
            <label for="password" class="form-label">Password:</label>
            <input id="password" name="password" type="password" placeholder="Enter your password" required>
            <br /><br />
            <button id="submit">Log In</button>
            <br /><br />
            <a id="forgotpwd" href="#">Forgot Password?</a>
            <br /><br /><hr /><br />
            <button id="new-account">Create New Account</button>
        </form>
    </div>
</body>