<div id="upload-container" class="form-container">
    <header id="upload-header">
        <h1>Post an Image</h1>
    </header>
    <form id="upload-image" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
        <div class="form-box">
        <label for="upload-title" class="form-lbl">Enter the post's title:</label>
        <input id="upload-title" class="form-input" type="text" placeholder="Post Title" name="title" required>
        </div>
        <div class="form-box">
        <label for="upload-desc" class="form-lbl">Enter the post's description:</label>
        {{!-- <input id="upload-desc" class="form-input" type="text" placeholder="Post Description" name="description" required> --}}
        <textarea id="upload-desc" class="form-input" type="text" placeholder="Post Description" name="description" required></textarea>
        </div>
        <div class="form-box">
        <label for="img-select" class="form-lbl">Upload Image:</label>
        <input id="img-select" class="form-input" type="file" accept="image/*" name="uploadImage" required/>
        </div>
        <div class="form-box">
        <input id="acceptable-use" type="checkbox" required>
        <label for="acceptable-use">I accept that my post follows the <a href="#">Acceptable Use Policy</a> for uploading images.</label>
        </div>
        {{!-- <input id="upload" class="form-btns" type="submit"> --}}
        <button id="upload-btn" class="form-btns" type="submit">Post</button>
        {{!-- 
        <button id="submit" class="btn btn-success post-submit form-button" type="submit">
            Submit
        </button>
        <button id="cancel" class="btn btn-danger post-submit form-button" type="reset">
            Cancel
        </button>
         --}}
    </form>
</div>